.create
  .create__header
    .create__header__logo
      = image_tag 'logo/logo.png',class:'account__header--logo', alt:"FURIMA", width:"200px"
    .memberStatus
      .memberStatus__line
      %ol.memberStatus__list
        %li
          .memberStatus__listItem
            %p 会員情報
            %p.memberStatus__listItem--point ●
        %li
          .memberStatus__listItem.memberStatus__listItem--next
            %p 住所情報
            %p.memberStatus__listItem--point ●
        %li
          .memberStatus__listItem.memberStatus__listItem--last.memberStatus__listItem--active
            %p 完了
            %p.memberStatus__listItem--point ●
  .memberCreate
    .memberCreate__content
      %h2.single3 会員登録完了
      .memberCreate__message
        ありがとうございます。
        %br
        会員登録が完了しました。
      = link_to root_url do
        .memberCreate__btn
          FURIMAを始める  