*{
  box-sizing: border-box;
  text-decoration: none;
}

.login{
  background: #f5f5f5;
  margin: 0;
  padding: 0;
  
  &__header{
    height: 128px;
    text-align: center;
      }
    }

.login__box {
  display: flex;
  justify-content: center;

  &__inner {
  padding: 20px 26px;
  width: 380px;
  height: 450px;
  border-radius: 4px;
  border: 1px #ddd solid;
  background:  #fff;
  }
    h1 {
      font-weight: 400;
      font-size: 28px;
      line-height: 1.2;
      margin-bottom: 10px;
      padding-bottom: 4px;
      color: #111111;
    }
    .box-email {
      margin-bottom: 13px;
    }
    .box-password {
      margin-bottom: 22px;
    }
    .box-email label, .box-password label {
      font-weight: 700;
      font-size: 13px;
      padding-left: 2px;
      padding-bottom: 2px;
    }
    .box-email input[type="email"], .box-password input[type="password"] {
      border-style: none;
      box-sizing: border-box;
      width: 100%;
      height: 31px;
      border: 1px solid #a6a6a6;
      box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
      border-radius: 3px;
      padding: 0 7px;
    }
    .column-left {
      float: left;
    }
    
    .column-right {
      float: right;
    }
    
    .box-password a {
      font-size: 13px;
    }
    
    .box-login {
      margin-bottom: 26px;
    }
    
    .box-login input[type="submit"] {
      border-style: none;
      width: 100%;
      height: 31px;
      background: red;
      border-radius: 3px;
      border: 1px #a88734 solid;
      color: #fff;
    }
    
    .box-login input[type="submit"]:hover {
      cursor: pointer;
    }
    
    .legal-text {
      margin-top: 18px;
      font-size: 12px;
    }
    
    .remember {
      font-size: 13px;
      margin-top: 18px;
      padding-left: 3px;
    }
    .box-newusr{
      margin-bottom: 15px;
    }
    
    .box-newusr p {
      text-align: center;
      font-size: 12px;
      color: #767676;
      margin-bottom: 14px;
    }
    
    .box-newusr p span {
      text-decoration: line-through;
      text-decoration-color: #e7e7e7;
    }
    
    .box-newusr a {
      display: block;
      width: 100%;
      height: 31px;
      font-size: 13px;
      color: #111;
      line-height: 31px;
      text-align: center;
      background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
      border-radius: 3px;
      border: 1px #a2a6ac solid;
    }
    
    .box-newusr a:hover {
      background: #e7e9ec;
    }  
}