=render partial: 'items/Toppage-header'

.mypage
  =render partial: 'users/side-bar'
  .BookmarkWrapper
    .Title
      取引中一覧
    .BookmarkItems
.Toppage-footer      
  = render partial: 'items/Toppage-footer'  