
.shows{
  padding-top:98px;
  background-color:#f8f8f8 ;
  display: -webkit-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
.show-link{
  text-decoration: none;
  color: #3CCACE;
}
  .show{
    width: 700px;
    margin: 0 auto;
    height: 100%;
    padding-top:40px;



    &__main{
      padding:24px 40px 40px;
      height: 100%;
      background-color: white;

      &__name{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }

      &__image{
        text-align: center;
        .show__flexbox{
          justify-content: center;
          text-align: center;
          display: flex;
          margin: 16px 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img{
          margin: 16px 0 0;
          }
          .main-image{
            justify-content: center;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom:10px;

          }
          .sub-image{
            display: flex;

          }
        }

      }


      &__list{
        display: flex;
        height: 87px;
        justify-content: center;
        margin-top: 10px;
      }

      &__child{
        width: 25%;
        height: 100%;
        margin: 0 10px 0 0;
        &__image{
          object-fit: cover;
          height: 87px;
          width: 100%;
        }
      }

      &__box{
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 77px;
        &__price{
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
        }
        &__detail{
          font-size: 16px;
        }
      }

      &__purchase-btn{
        font-size: 24px;
        line-height: 60px;
        display: block;
        margin-top: 16px;
        background: #3ccace;
        color: #ffffff;
        
        line-height: 56px;
        text-align: center;
        font-weight: 600;
        a{
          text-decoration: none;
          color: #ffffff;
          font-size: 24px;
        }

      }

      &__explanation{
        line-height: 1.5;
        font-size: 18px;
        margin: 30px 0;
      }

      &__table{
        margin-bottom: 20px;
        table{
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;

          tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
          
            tr{
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              th{
                width: 20%;
                background-color: #eee;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td{
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
              }
            }
          }  
        }  
      }

      &__btns{
        width: 100%;
        font-size: 17px;
        min-height: 48px;
        border-radius: 4px;
        font-weight: 600;
        border: 1px solid transparent;
        cursor: pointer;
        background-color: #3ccace;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom:10px;
        color:#ccc;

        &__edit{
          margin-right:20px;
          padding: 4px 8px;
          color: #fff;
          a{
            text-decoration: none;
          }
        }
        &__edit:hover{
          opacity: 0.5;
        }



      }

      &__option{
        display: flex;
        justify-content: space-between;
        height: 50px;
        .favorite__link{
          text-decoration: none;
        }
        .favorite__link:hover{
          opacity: 0.5;
        }
        .show__favorite{
          margin: 10px 0 0;
          display: flex;
          border-radius: 40px;
          border: 1px solid #3ccace;
          align-items: center;
          justify-content: center;
          padding: 4px 8px;
          &__child{
            margin: 2px;
          }
          &__icon{
            text-decoration: none;
            color: black;
          }
        }
        .optional__link{
          text-decoration: none;
        }
        .optional__link:hover{
          opacity: 0.5;
        }
        .show__optional{
          margin: 10px 0 0;
          display: flex;
          border-radius: 4px;
          color: #333;
          border: 1px solid #333; 
          padding: 6px 10px;
          font-size: 14px;
          justify-content: center;
          align-items: center;
          &__child{
            margin: 2px;
          }
        }
      }
    }


    &__middle{
      padding: 0 24px;
      background-color :white;
      margin-bottom: 10px ;
      height: 270px;
      text-align: center;
      
      &__form{
        .show__comment{
          &__form{
            width: 95%;
            min-height: 104px;
            padding: 10px; 
          }
          &__msg{
            padding: 8px;
            font-size: 14px;
            margin: 10px 0;
            text-align: left;
          }   
          &__btn{
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            width: 60%;
            font-size: 18px;
            border-radius: 100px;
            margin: 10px 0;
            
          }
          &__icon{
            color: white;
            position: relative;
            left: 140px;
          }
        }  
      }
    }


    &__pagenation{
      height: 24px;
      display: flex;
      justify-content: space-between;
    }


    &__bottom{
      height:328px ;
      margin-top: 20px;

      &__msg{
        margin: 24px 0 8px;
        font-weight: bold;
        font-size: 22px;
      }

      &__content{
        float: left;
        width: 32%;
        margin: 24px 0 8px;
        color: black;
        text-decoration: none;
        background-color: white;
        font-weight: bold;
        &__image{
          width: 100%;
          height: 135px;
          object-fit: cover;
        }
        .content__row{
          padding: 16px;
          &-name{
            line-height: 1.5;
            font-size: 16px;
          }
          &-box{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
          &-fav{
            display: flex;
            &__icon{
              margin-right: 5px;
            }
          }
          &-tax{
            font-size: 10px;
          }
        }
      }
      &__content:hover{
        opacity: 0.5;
      }
    }
  }
}
  




