.Toppage-header{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding:0 60px;
  box-sizing: border-box;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width:100%;
  &__content{
    max-width: 1040px;
    width:100%;
    min-height:82px;
    margin: 0 auto;
    padding:10px 0;
    &__top{
      display: flex;
      &__icon{
        width:140px;
        margin-right:30px;
      }
      &__form{
        margin-left:auto;
        width:100%;
        box-sizing: border-box;
        form{
          display: flex;
          .search-box{
            width:100%;
            padding-left:10px;
          }
          .search-btn{
            background-color: #3CCACE;
            width:36px;
            height:36px;
            padding:8px;
            box-sizing: border-box;
          }
        }
      }
    }
    &__bottom{
      font-size:14px;
      margin-bottom:10px;
      display: flex;
      flex-direction: column; 
      a{
        text-decoration: none;
        color:#333
      }
      &__button{
        display: flex;
        justify-content: space-between;
        &__left-menu{
          display:flex;
          position:relative;
          box-sizing: border-box;
          &__category-list{
            text-decoration: none;
            background-size: 18px;
            padding-right: 30px;
          }
          &__brand-list{
            background-size: 18px;
            padding-right: 30px;
          }
        }
        &__right-menu{
          display:flex;
          .header__login{
            background-size: 18px;
            padding-left: 30px;
          }
          &__sign-up{
            background-size: 18px;
            padding-left: 30px;
          }
        }
      }
    }
  }
}

.Main{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding-top: 98px;
  box-sizing: border-box;
  &-visual{
    width:100%;
    height:560px;
    background-image: url("http://furima.tokyo/assets/bg-mainVisual-pict_pc-a1a4be0d864c29338b03d163957f9fd26b20f7c1fa0d05c17b603ec54d249ebe.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    
    &__section{
      padding:0 60px;
      &__title{
        max-width:1280px;
        width:100%;
        margin: 0 auto;
        padding:35px 0 0 0;
        box-sizing: border-box;

        &__theme{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 60px;
          line-height: 1.2;
          padding-top:45px;
          color: #fff;
          h2{
            margin-block-start: 0.83em;
          }
          br{
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 60px;
            line-height: 1.2;
            color: #fff;
          }
        }
        p{
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: #fff;
          line-height: 1.77778;
          margin: 16px 0 0 0;
          margin-block-start: 1em;
          margin-block-end: 1em;
        }
        &__btn-content{
          a{
            text-decoration: none;
            img:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  &__introduction{
    padding:60px 20px;
    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      h2{
        font-weight: bold;
      }
      &__after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__list{
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      
      &__left-list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__left-img{
          position: relative;
          margin-bottom: 20px;
          span.number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            height:100%;
            vertical-align: bottom;
          }
        }
        &__left-text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
            h3{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              text-align: center;
              span{
                color: #3CCACE;
              }
            }
        }
        &__left-sub-text{
          text-align: start;
          p{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
      &__center-list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__center-img{
          position: relative;
          margin-bottom: 20px;
          span.number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            height:100%;
            vertical-align: bottom;
          }
        }
        &__center-text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
            h3{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              text-align: center;
              span{
                color: #3CCACE;
              }
            }
        }
        &__center-sub-text{
          text-align: start;
          p{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
      &__right-list{
        width: 30%;
        margin: 16px 0 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__right-img{
          position: relative;
          margin-bottom: 20px;
          span.number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
          img{
            width: 100%;
            height:100%;
            vertical-align: bottom;
          }
        }
        &__right-text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
            h3{
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              text-align: center;
              span{
                color: #3CCACE;
              }
            }
        }
        &__right-sub-text{
          text-align: start;
          p{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }
  }
  &__middle-visual{
    background-image: url("http://furima.tokyo/assets/bg-topMiddleDl-pict-5042a3aa7eef6dd93330080028e3a781daf47c390c00a4fb5d7e7b06caae68c9.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__subtitle{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn-content{
        display: flex;
        text-decoration: none;
        margin-right:10px;
        a{
          text-decoration: none;
          img:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
  &__top-features{
    padding: 60px 100px;
    background-color: #fff;
    &__title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      h2{
      }
      .title-after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

      }
    }
    &__list{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      &__left-list{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__left-img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;

        }
        &__left-subtitle{
          margin: 10px 0 10px;
          font-size: 19px;
          font-weight: bold;
          

        }
        &__left-detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      &__center-list{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__center-img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;

        }
        &__center-subtitle{
          margin: 10px 0 10px;
          font-size: 19px;
          font-weight: bold;

        }
        &__center-detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
      &__right-list{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__right-img{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__right-subtitle{
          margin: 10px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__right-detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &__pickup-category{
    padding: 80px 0 60px 0;
    background-color: #f8f8f8;
    height: 100%;
    &__title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      &__product{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3{
            font-weight: bold;
          }
        }
      }
      &__lists{
        background-color:  #f8f8f8;
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list{
          width: 220px;
          display: inline-block;
          float: left;
          a{
            background-color: #fff; 
            color: #333;
            display: inline-block;
            text-decoration: none;
            .Main__pickup-category__box__lists__list__img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .Main__pickup-category__box__lists__list__body{
              background-color: white;
              color: #333;
              padding: 16px;
              h3{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .Main__pickup-category__box__lists__list__body__details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{
                    .like-icon{
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
  &__pickup-brand{
    padding-bottom: 60px ;
    background-color: #f8f8f8;
    height: 100%;
    &__title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      &__product{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3{
            font-weight: bold;
          }
        }
      }
      &__lists{
        background-color:  #f8f8f8;
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list{
          width: 220px;
          display: inline-block;
          float: left;
          a{
            background-color: #fff;
            display: inline-block;
            text-decoration: none;
            .Main__pickup-brand__box__lists__list__img{
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .Main__pickup-brand__box__lists__list__body{
              background-color: white;
              color: #333;
              padding: 16px;
              h3{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .Main__pickup-brand__box__lists__list__body__details{
                font-size: 16px;
                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{
                    .like-icon{
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }

  &__banner{
    background-image: url("http://furima.tokyo/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg") ;
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    &__inner{
      color: #fff;
      text-align: center;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto ;
        a{
          text-decoration: none;
          padding: 0 5px;
          img:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
}

.Toppage-footer{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  box-sizing: border-box;
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    &__content{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head-left{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;

      }
      &__head-center{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;

      }
      &__head-right{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;

      }
      ul{
        list-style: none;
        li{
          a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p{
    font-size:14px;
  }
}
a{
  .purchase-btn{
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    box-sizing: border-box;
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    &__img{
      image{
        width: 60%;
      }
    }
  }
}