.search{
  width: 100%;
  height: 2000px;
  display: flex;
  background-color: #f8f8f8;
  .search__all__text-field{
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  &__box{
    background-color: white;
    width: 70%;
    height: 100%;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 10px;
    &__in{
      height: 100%;
      width: 80%;
      margin: auto;
    }
  }

  &__search{
    width: 30%;
  }
  &__content{
    width: 70%;
    background-color: #f8f8f8;
    &__top{
      display: flex;
      margin: 50px;
    }
    &__word{
      font-weight: bold;
    }
    &__result{
      margin-left: 5px;
    }
  }
}