.mypage{
  &__right{
    &__logout{
      padding: 70px 60px;
      background-color: white;
      display: flex;
      justify-content: center;
    }
      .btn{
        color: white;
        background-color: red;
        padding: 20px 100px;
        border-radius: 4px;
        font-size: 14px;
      }
  }
}