%ul.Footer__contents
  %li.Footer__contents__content
    %h2.Footer__contents__content__head-left 
      FURIMAについて
    %ul
      %li
        =link_to "会社概要（運営会社）", '#'
      %li
        =link_to "プライバシーポリシー",  '#'
      %li
        =link_to "FURIMA利用規約",  '#'
      %li
        =link_to "ポイントに関する特約",  '#'

  %li.Footer__contents__content
    %h2.Footer__contents__content__head-center 
      FURIMAを見る
    %ul
      %li
        =link_to "カテゴリー一覧", '#'  
      %li
        =link_to "ブランド一覧",  '#'  
  
  %li.Footer__contents__content
    %h2.Footer__contents__content__head-right 
      ヘルプ＆ガイド
    %ul
      %li
        =link_to "FURIMAガイド",  '#'  
      %li
        =link_to "FURIMAロゴ利用ガイドライン",  '#'  
      %li
        =link_to "お知らせ",  '#'  
        
.Footer__logo
  =link_to  '#'  do
    =image_tag 'logo/logo-white' ,width: 160,height: 46

%p © FURIMA