.header__content
  .header__top
    %h1.header__icon
      =link_to '#' , target: '_self' do
        =image_tag 'logo/logo.png' ,width: 140,height: 41
    .header__form
      =form_with  url:"#",method: :post, local:true do |form|
        =form.text_field :search, placeholder: 'キーワードから探す',class: 'search-box'
        .search-btn
          =link_to  '#'  do
            =image_tag 'icon/icon-search 1.png', size:20
  .header__bottom
    .header__button
      %ul.header__left-menu
        %li.header__category-list 
          =link_to "カテゴリー", '#' 
        %li.header__brand-list
          =link_to "ブランド", '#' 
      %ul.header__right-menu
        %li.header__login
          =link_to "ログイン", '#' 
        %li.header__sign-up
          =link_to "新規会員登録", '#'