.Header__content
  .Header__content__top
    %h1.Header__content__top__icon
      =link_to '#' , target: '_self' do
        =image_tag 'logo/logo.png' ,width: 140,height: 41
    .Header__content__top__form
      =form_with  url:"#",method: :post, local:true do |form|
        =form.text_field :search, placeholder: 'キーワードから探す',class: 'search-box'
        .search-btn
          =link_to  '#'  do
            =image_tag 'icon/icon-search 1.png', size:20
  .Header__content__bottom
    .Header__content__bottom__button
      %ul.Header__content__bottom__button__left-menu
        %li.Header__content__bottom__button__left-menu__category-list 
          =link_to "カテゴリー", '#' 
        %li.Header__content__bottom__button__left-menu__brand-list
          =link_to "ブランド", '#' 
      %ul.Header__content__bottom__button__right-menu
        %li.Header__content__bottom__button__right-menu__login
          =link_to "ログイン", '#' 
        %li.Header__content__bottom__button__right-menu__sign-up
          =link_to "新規会員登録", '#'