%h2.Main__pickup-category__title
  ピックアップカテゴリー
.Main__pickup-category__box
  .Main__pickup-category__box__product
    =link_to href: '#'  do
      %h3.Main__pickup-category__box__product__subtitle 
        新規投稿商品
  .Main__pickup-category__box__lists
    .Main__pickup-category__box__lists__list
      =link_to "/products/8" do
        .Main__pickup-category__box__lists__list__img
          =image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG",alt:"画像表示エラー" 
        .Main__pickup-category__box__lists__list__body
          %h3.name ee
          .Main__pickup-category__box__lists__list__body__details
            %ul
              %li 1000円
              %li
                =icon('fa','star',class: 'like-icon')
                0
            %p (税込)

    .Main__pickup-category__box__lists__list
      =link_to "/products/3" do
        .Main__pickup-category__box__lists__list__img
          =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png",alt:"画像表示エラー" 
        .Main__pickup-category__box__lists__list__body
          %h3.name product3
          .Main__pickup-category__box__lists__list__body__details
            %ul
              %li 30000円
              %li
                =icon('fa','star',class: 'like-icon')
                0
            %p (税込)
    .Main__pickup-category__box__lists__list
      =link_to "/products/2" do
        .Main__pickup-category__box__lists__list__img
          =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png",alt:"画像表示エラー" 
        .Main__pickup-category__box__lists__list__body
          %h3.name product2
          .Main__pickup-category__box__lists__list__body__details
            %ul
              %li 20000円
              %li
                =icon('fa','star',class: 'like-icon')
                0
            %p (税込)
    .Main__pickup-category__box__lists__list
      =link_to "/products/1" do
        .Main__pickup-category__box__lists__list__img
          =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png",alt:"画像表示エラー" 
        .Main__pickup-category__box__lists__list__body
          %h3.name product1
          .Main__pickup-category__box__lists__list__body__details
            %ul
              %li 10000円
              %li
                =icon('fa','star',class: 'like-icon')
                1
            %p (税込)