%h2.Main__pickup-category__title
  ピックアップカテゴリー
.Main__pickup-category__box
  .Main__pickup-category__box__product
    =link_to href: '#'  do
      %h3.Main__pickup-category__box__product__subtitle 
        レディース
        = render "item", category: @cat_no1
        
.Main__pickup-category__box
  .Main__pickup-category__box__product
    =link_to href: '#'  do
      %h3.Main__pickup-category__box__product__subtitle 
        メンズ
        = render "item", category: @cat_no200
        
.Main__pickup-category__box
  .Main__pickup-category__box__product
    =link_to href: '#'  do
      %h3.Main__pickup-category__box__product__subtitle 
        新着アイテム
        = render "item", category: @latest_items