
%body
  .Toppage-header
    =render partial: 'Toppage-header'

  .Main
    .Main-visual
      .Main-visual__section
        .Main-visual__section__title
          .Main-visual__section__title__theme
            %h2
              %br
              人生を変えるフリマアプリ
          %p.Main-visual__section__title__sub-theme
            FURIMAはだれでもかんたんに出品・購入できる
            %br
            フリマアプリです
          .Main-visual__section__title__btn-content
            =link_to '#'  do
              =image_tag 'logo/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg' ,alt:"画像表示エラー" ,width: 180,height: 53
            =link_to  '#'  do
              =image_tag 'logo/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg' ,alt:"画像表示エラー" ,width: 180,height: 53
    .Main__introduction
      .Main__introduction__title
        %h2
          FURIMAが選ばれる3つの理由
        .Main__introduction__title__title__after
      %ul.Main__introduction__list
        %li.Main__introduction__list__left-list
          .Main__introduction__list__left-list__left-img
            %span.number 1
            =image_tag 'pict/pict-reason-01.jpg' ,alt:"画像表示エラー" , size:261
          .Main__introduction__list__left-list__left-text
            %h3
              %span 3分
              ですぐに出品
          .Main__introduction__list__left-list__left-sub-text
            %p
              スマホで入力するだけで簡単に出品できる！
        %li.Main__introduction__list__center-list
          .Main__introduction__list__center-list__center-img
            %span.number 2
            =image_tag 'pict/pict-reason-02.jpg',alt:"画像表示エラー" , size:261
          .Main__introduction__list__center-list__center-text
            %h3
              %span シンプル
              で使いやすい
          .Main__introduction__list__center-list__center-sub-text
            %p
              めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.Main__introduction__list__right-list
          .Main__introduction__list__right-list__right-img
            %span.number 3
            =image_tag 'pict/pict-reason-03.jpg' ,alt:"画像表示エラー" , size:261
          .Main__introduction__list__right-list__right-text
            %h3
              手数料
              %span 業界最安
          .Main__introduction__list__right-list__right-sub-text
            %p
              最大3%でお得に出品&購入！
    .Main__middle-visual
      .Main__middle-visual__inner
        %h2.Main__middle-visual__inner__title 会員数日本一位
        %p.Main__middle-visual__inner__subtitle
          FURIMAは、フリマアプリで最も人気。
          %br
          出品・購入回数も業界最多です！
          %br
          ほしかったあの商品に出会えるかもしれません。
        .Main__middle-visual__inner__btn-content
          =link_to '#'  do
            =image_tag 'logo/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg',alt:"画像表示エラー"  ,width: 180,height: 53
          =link_to  '#'  do
            =image_tag 'logo/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg' ,alt:"画像表示エラー" ,width: 180,height: 53
    .Main__top-features
      %h2.Main__top-features__title 
        FURIMAの特徴
        .title-after
      .Main__top-features__list
        .Main__top-features__list__left-list
          %figure.Main__top-features__list__left-list__left-img
            =image_tag 'icon/icon-01.png' ,alt:"画像表示エラー" , width:160 ,height:247
          %h3.Main__top-features__list__left-list__left-subtitle 簡単に売り買いできる
          %p.Main__top-features__list__left-list__left-detail
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        .Main__top-features__list__center-list
          %figure.Main__top-features__list__center-list__center-img
            =image_tag 'icon/icon-03.png' ,alt:"画像表示エラー" , width:160 ,height:247
          %h3.Main__top-features__list__center-list__center-subtitle 売上金は即日振込みに対応
          %p.Main__top-features__list__center-list__center-detail
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .Main__top-features__list__right-list
          %figure.Main__top-features__list__right-list__right-img
            =image_tag 'icon/icon-04.png' ,alt:"画像表示エラー" , width:160 ,height:247
          %h3.Main__top-features__list__right-list__right-subtitle 様々な支払いに対応
          %p.Main__top-features__list__right-list__right-detail
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    
    
    
    
    .Main__pickup-category
      = render partial: 'index-category'

    .Main__pickup-brand
      %h2.Main__pickup-brand__title 
        ピックアップブランド
      .Main__pickup-brand__box
        .Main__pickup-brand__box__product
          =link_to '#' do
            %h3.Main__pickup-brand__box__product__subtitle 
              アーカイバ
        .Main__pickup-brand__box__lists
          .Main__pickup-brand__box__lists__list
            =link_to "/products/8" do
              .Main__pickup-brand__box__lists__list__img
                =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/16/IMG_9072.JPG",alt:"画像表示エラー" 
              .Main__pickup-brand__box__lists__list__body
                %h3.name ee
                .Main__pickup-brand__box__lists__list__body__details
                  %ul
                    %li 1000円
                    %li
                      =icon('fa','star',class: 'like-icon')
                      0
                  %p (税込)

          .Main__pickup-brand__box__lists__list
            =link_to "/products/3" do
              .Main__pickup-brand__box__lists__list__img
                =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png",alt:"画像表示エラー" 
              .Main__pickup-brand__box__lists__list__body
                %h3.name product3
                .Main__pickup-brand__box__lists__list__body__details
                  %ul
                    %li 30000円
                    %li
                      =icon('fa','star',class: 'like-icon')
                      0
                  %p (税込)

          .Main__pickup-brand__box__lists__list
            =link_to "/products/2" do
              .Main__pickup-brand__box__lists__list__img
                =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png",alt:"画像表示エラー" 
              .Main__pickup-brand__box__lists__list__body
                %h3.name product2
                .Main__pickup-brand__box__lists__list__body__details
                  %ul
                    %li 20000円
                    %li
                      =icon('fa','star',class: 'like-icon')
                      0
                  %p (税込)

          .Main__pickup-brand__box__lists__list
            =link_to "/products/1" do
              .Main__pickup-brand__box__lists__list__img
                =image_tag  "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/7/a001.png" ,alt:"画像表示エラー" 
              .Main__pickup-brand__box__lists__list__body
                %h3.name product1
                .Main__pickup-brand__box__lists__list__body__details
                  %ul
                    %li 10000円
                    %li
                      =icon('fa','star',class: 'like-icon')
                      1
                  %p (税込)

    .Main__banner
      .Main__banner__inner
        %h2.Main__banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
        %p.Main__banner__inner__text 今すぐ無料ダウンロード！
        .Main__banner__inner__icon
          =link_to '#'  do
            =image_tag 'logo/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg', alt:"画像表示エラー" ,width: 180,height: 53
          =link_to  '#'  do
            =image_tag 'logo/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg', alt:"画像表示エラー",width: 180,height: 53
  
  .Toppage-footer
    =render partial: 'Toppage-footer'



=link_to new_item_path  do
  .purchase-btn
    %span.purchase-btn__text 
      出品する
    .purchase-btn__img
      =image_tag 'icon/icon_camera.png',alt:"画像表示エラー" ,size:54

